:root {
  font-size: 16px;
}
* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #554e4e;
}

@font-face {
  font-family: "CatFont";
  src: url("../CatFont.ttf");
}

.SignIn {
  top: 0;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 2em;
}

.SignInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SignInForm P {
  text-align: center;
}

.SignInLogo {
  display: none;
}

.SignInForm input {
  width: 95%;
  margin: 2.5% 0 2.5% 0;
  border: none;
  border-bottom: solid #6e6464;
  padding: 0.6em 0.4em 1em;
  box-sizing: border-box;
  font-weight: 600;
  color: #6e6464;
}

.SignInFromProfilePic {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.SignInFromProfilePicPic {
  width: 50%;
}

.SignInForm img {
  margin-left: 20%;
  width: 70%;
  border: #fabf61 solid 0.3em;
  border-radius: 100%;
}

.SignInForm input[type="file"] {
  border: none;
}
.SignInForm input::placeholder {
  color: rgb(165, 159, 159);
}

.SignInForm input[type="submit"] {
  border: none;
  background-color: #fabf61;
  padding: 0.5em;
  font-size: 1.3rem;
}

.Errors {
  margin-bottom: 1em;
}

.Errors h1 {
  text-align: center;
  font-size: 1rem;
  color: #fabf61;
}

@media screen and (orientation: landscape) {
  .SignIn {
    top: 0;
    width: 100%;
    height: 100vh;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
  }

  .SignInLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: block;
  }

  .SignInLogoImage {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .SignInLogo img {
    max-width: 500px;
  }

  .SignInLogo h1 {
    font-size: 3rem;
    font-family: "CatFont";
    text-align: center;
  }
}
