:root {
  font-size: 16px;
}
* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #554e4e;
  overflow-x: hidden;
}
.Errors {
  margin: 1em 0 1em 0;
}

.Errors h1 {
  text-align: center;
  font-size: 1rem;
  color: #fabf61;
}
.Loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  margin-left: 25%;
}
.ShowPost {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.ShowPostInfo {
  width: auto;
}

.PostImgAndBio img {
  width: 100%;
}

.PostImgAndBio h1 {
  font-size: 2rem;
  text-align: center;
}

.ShowPostPostStats {
  display: flex;
  margin-top: 1em;
  justify-content: space-evenly;
}

.ShowPostPostStats h3 {
  width: auto;
}

.ShowPostComments {
  width: auto;
}

.Comments h1 {
  text-align: center;
  font-size: 2rem;
  margin: 0.5em 0 0.5em 0;
}

.DisplayComments {
  overflow: auto;
  max-height: 10vh;
}

.DisplayComments h3 {
  text-align: center;
  font-size: 1.2rem;
  margin: 0 0 0.5em 0;
}

.NewComment {
  margin-top: 2em;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-evenly;
}

.NewComment input {
  width: 80%;
  border: none;
  border-bottom: solid #6e6464;
  color: #6e6464;
}

.NewComment button {
  width: auto;
  border: none;
  background-color: transparent;
}

.ShowPostPostStats span {
  margin-right: 0.5em;
}

.style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.style-1::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fabf61;
}
@media screen and (orientation: landscape) {
  .ShowPost {
    flex-direction: row;
    margin-top: 90px;
  }
  .ShowPostPostStats h3,
  span {
    font-size: 1.5rem;
  }
  .DisplayComments {
    max-height: 20vh;
  }
}
