.EditOrAddPet {
  margin-top: 60px;
  margin-bottom: 80px;
}
.EditOrAddPetProfilePic {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-left: 0.5em;
}
.EditOrAddPetImage {
  width: 20%;
  min-width: 150px;
  border: #fabf61 solid 0.3em;
  border-radius: 100%;
}

.EditOrAddPetImage input[type="file"] {
  display: none;
}

.EditOrAddPetFormField {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 3em;
}

.EditOrAddPetFormLabels {
  width: 25%;
  max-width: 150px;
  padding-right: 2em;
}

.EditOrAddPetForm input {
  width: 60%;
  border: none;
  border-bottom: solid #6e6464;
  padding: 0.6em 0.4em 1em;
  box-sizing: border-box;
  font-weight: 600;
  color: #6e6464;
}

.EditOrAddPetFormLabels p {
  font-size: 1.3rem;
}
.EditOrAddPetForm input[type="file"] {
  width: auto;
  border: none;
  margin-left: 1em;
}
.EditOrAddPetForm input::placeholder {
  color: rgb(165, 159, 159);
}

.EditOrAddPetBtns {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

.EditOrAddPetForm input[type="submit"] {
  border: none;
  background-color: #fabf61;
  width: 100px;
  padding: 0.5em;
  font-size: 1.3rem;
  font-weight: 600;
  color: #554e4e;
  margin: 0 1em 0 1em;
}

.EditOrAddPetForm button {
  border: none;
  background-color: #fabf61;
  width: 100px;
  padding: 0.5em;
  font-size: 1.3rem;
  font-weight: 600;
  color: #554e4e;
  margin: 0 1em 0 1em;
}
